<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      rel="stylesheet"
    />
    <!-- styles -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/ext.css" />
    <title><%= title %></title>
  </head>
  <body class="d-flex flex-column">
    <main class="flex-shrink-0">
      <!-- Navigation-->
      <nav
        class="navbar navbar-expand-lg navbar-light bg-white py-3 fixed-top"
        style="z-index: 1000; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)"
      >
        <div class="container px-5">
          <a class="navbar-brand" href="/"
            ><span class="fw-bolder text-primary">MedBay</span></a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
              <li class="nav-item px-2">
                <a class="nav-link" href="/users/v/dashboard">Dashboard</a>
              </li>
              <li class="nav-item dropdown px-2">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="reportsDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Reports
                </a>
                <div class="dropdown-menu" aria-labelledby="reportsDropdown">
                  <a class="dropdown-item" href="/users/v/report/create"
                    >Create Report</a
                  >
                  <a class="dropdown-item" href="/users/v/report/mine"
                    >My Reports</a
                  >
                  <a class="dropdown-item" href="/users/v/report/fetch"
                    >Find Report</a
                  >
                  <a class="dropdown-item" href="#!">All Reports</a>
                </div>
              </li>
              <li class="nav-item px-2">
                <a class="nav-link" href="/users/v/profile">Profile</a>
              </li>
              <li class="nav-item px-2">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
              <li class="nav-item px-2">
                <form action="/" method="post">
                  <button class="btn btn-danger">Logout</button>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Page content-->
      <div class="clearance" style="height: 80px"></div>

      <section class="py-5 px-4">
        <h3 class="text-center">All Reports</h3>
        <div class="px-2 row">
          <% data.forEach(report => {%>
          <div class="col-md-12 mx-2 bg-light">
            <div class="px-2 py-2 row">
              <h5 class="py-2 col-lg-10 text-lg-left">
                <%=report.patientName %>
              </h5>
              <a
                href="/users/v/report/k/<%=report._id%>"
                class="btn btn-primary text-lg-end col-lg-2"
              >
                View Report
              </a>
            </div>
          </div>
          <div class="clearance" style="height: 10px"></div>
          <%})%>
        </div>
      </section>
    </main>
    <!-- Footer-->
    <footer class="bg-white py-4 mt-auto">
      <div class="container px-5">
        <div
          class="row align-items-center justify-content-between flex-column flex-sm-row"
        >
          <div class="col-auto">
            <div class="small m-0">Copyright &copy; MedBay 2023</div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
  </body>
</html>
